:root {
  --color-bg: #fafafa;
  --color-accent: #d87d4a;
  --color-accent-hover: #fbaf85;
  --color-cod-gray: #191919;
  --color-seashell: #f1f1f1;
  --color-black: #191919;
  --color-white: #ffffff;
  --color-red: #db3930;
  --transition: all 0.3s linear;
  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* screen readers only */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9375rem;
  color: var(--color-black);
  background-color: var(--color-bg);
  line-height: 1.7;
}

/* Typography */

h1,
h2,
h3 {
  text-transform: uppercase;
}

a:focus,
button:focus {
  outline: 2px dashed var(--color-red);
  outline-offset: 4x;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}
